{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "extends": "eslint:recommended", //  此项是用来配置 react.js 风格，就是说写代码的时候要规范的写，如果你使用 vs-code 我觉得应该可以避免出错
    "globals": {
        "$": true,
        "process": true,
        "__dirname": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module", // 模块类型
        "ecmaVersion": 6 // 指定语言版本
    },
    "plugins": [
        "react"
    ],
    "rules": { // 规则配置写在这里
        "quotes": [2, "single"], // 单引号
        "no-console": 0, // 不禁用console
        "no-debugger": 2, // 禁用debugger
        "no-var": 0, // 对var警告
        "semi": 0, // 不强制使用分号
        "no-irregular-whitespace": 0, // 不规则的空白不允许
        "no-trailing-spaces": 1, // 一行结束后面有空格就发出警告
        "eol-last": 0, // 文件以单一的换行符结束
        "no-unused-vars": [1, {"vars": "all", "args": "after-used"}], // 不能有声明后未被使用的变量或参数
        "no-underscore-dangle": 0, // 标识符不能以_开头或结尾
        "no-alert": 2, // 禁止使用alert confirm prompt
        "no-lone-blocks": 0 // 禁止不必要的嵌套块
    },
    "settings": {
        "import/ignore": [
            "node_modules"
        ]
    }
}