.login{
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url(https://note.youdao.com/yws/public/resource/a44ca2688097b8df42b48a21daa130fc/xmlnote/E7635E130D7B449AA2C74B237911DF17/354);
  background-size:100%,auto;
  .login-card{
    width: 350px;
    height: 340px;
    position: absolute;
    left: 38%;
    top: 6%;
  }
}
.loginForgot {
  float: right;
}
.loginButton {
  width: 100%;
}